<div class="container">
  <div class="row">
    <div class="col">
      <img src="./img/rudy1.jpeg" alt="Rudy Yohanes" class="img-thumbnail rounded-circle" width="150" />
      <h1 class="display-4">Rudy Yohanes</h1>
      <p class="lead">Informatics Student at Kalbis Institute</p>
    </div>
  </div>
</div>
