<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact Detail</h2>
      <% if (!contact) { %>
      <div class="alert alert-danger fw-bold" role="alert">Contact data not found. <br /><a href="/contact" class="alert-link fw-light">&laquo; Back to contact list</a></div>
      <% } else { %>
      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title"><%= contact.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= contact.phnumber %></h6>
          <p class="card-text"><%= contact.email %></p>
          <a href="/contact" class="card-link">&laquo; Back to Contact List</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
