<h1>Web Server NodeJS</h1>
<p>Welcome <%= name %> to my site</p>

<h4>Student List</h4>
<% if (student.length<1) { %>
<p>Student list empty.</p>
<% } else { %> <% student.forEach(std => { %>
<ul>
  <li>Name : <%= std.name %></li>
  <li>Email : <%= std.email %></li>
</ul>
<% }) %> <% } %>
